nav {
		font-family: "Century Gothic", sans-serif;
		text-align: left;
		color: #fff;
		padding-top: 15px;
		padding-left: 10px;
}

main {
		text-align: center;
		color: #fff;

}

body {
		height: 100%;
		background-image: url(background.jpg);
		background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
		
}

a {
		text-decoration: none;
		padding-right: 15px;
}

a:visited {
			color: #fff;
}

p {
		color: #fff;
		text-align: center;
		font-size: 40px;
}